@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Quicksand:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@100;300&family=Quicksand:wght@300;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;

  line-height: 1;
  margin: 0;

  background-color: #e5e5e5;
}
.text,
.global {
  display: flex;
  justify-content: center;
  align-items: center;
}

.punchline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px -18px 67px;
}
.global {
  font-size: 7em;
  color: #2c00cf;
  font-family: "Alfa Slab One", cursive;
}
.container {
  padding: 2%;
  display: flex;
  /* flex-wrap: nowrap; */
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
h1 {
  font-size: 3em;
  color: rgb(83, 81, 81);
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  /* background-color: #f1f1f1; */
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}
i {
  color: #f94749;
  font-size: 20px;
}
.sp {
  animation: mymove 1.5s ease-in-out infinite;
  margin: 0 5px;
}

@keyframes mymove {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .container {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .resimg {
    width: 100%;
  }
  .text,
  .global {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .punchline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0px -18px 67px;
  }
  .global {
    font-size: 7em;
    color: #2c00cf;
    font-family: "Alfa Slab One", cursive;
    width: 100%;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-container > div {
    /* background-color: #f1f1f1; */
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    width: 100%;
  }
  i {
    color: #f94749;
    font-size: 20px;
    width: 100%;
  }
  .sp {
    animation: mymove 1.5s ease-in-out infinite;
    margin: 0 5px;
    width: 100%;
  }
}
